.card {
  display: flex;
  padding-top: 80px;
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    flex-direction: column;
    margin-bottom: 72px;
  }
}

.card__picture {
  flex: 0 0 51.3%;
  max-width: 51.3%;

  display: grid;
  grid-template-columns: minmax(350px, 470px) minmax(60px, 100px);
  grid-template-rows: 125px 125px 125px;
  gap: 30px;
  grid-auto-flow: column;
  direction: rtl;

  @media (max-width: $tablet-width) {
    flex: 0 0 47.1%;
    max-width: 47.1%;
    grid-template-columns: minmax(90px, 97px) minmax(90px, 97px) minmax(90px, 97px);
    grid-template-rows: 286px 129px;
    gap: 14px;
    grid-auto-flow: row;
    direction: ltr;
  }

  @media (max-width: $mobile-width) {
    flex: auto;
    max-width: none;
    display: flex;
    flex-wrap: nowrap;
    width: 290px;
    height: 260px;
    margin-bottom: 30px;

    position: relative;
  }
}

.card__picture-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

  @media (max-width: $tablet-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}

.card__picture-item {
  @media (max-width: $mobile-width) {
    width: 290px;
    height: 260px;
    flex-shrink: 0;
  }
}

.card__picture-item img {
  @media (max-width: $tablet-width) {
    width: inherit;
    height: inherit;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 260px;
  }
}

.card__details {
  flex: 0 0 48.7%;
  max-width: 48.7%;
  padding-left: 100px;
  padding-right: 100px;

  @media (max-width: $tablet-width) {
    flex: 0 0 529%;
    max-width: 52.9%;
    padding-left: 40px;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    flex: auto;
    max-width: none;
    padding-left: 0;
  }
}

.card__details h3,
.card__details p {
  margin: 0;
}

.card__details > h3 {
  @include title;
  letter-spacing: 0.2px;
  text-align: start;
  margin-bottom: 10px;
  margin-top: -10px;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.card__details > p {
  font-weight: 400;
  font-size: 26px;
  line-height: calc(34 / 26);
  letter-spacing: -0.2px;
  margin-bottom: 40px;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.card__description {
  display: flex;
  margin-bottom: 20px;
}

.card__description > span {
  color: $decor-2;
  margin-right: 35px;
}

.card__text {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: solid 1px $decor-4;
  letter-spacing: -0.5px;
}

.card__text p {
  letter-spacing: -0.9px;
}

.card__btn {
  @include button;
  line-height: 68px;
  margin-top: 50px;
  margin-bottom: 17px;

  @media (max-width: $tablet-width) {
    margin-bottom: 11px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 40px;
    margin-bottom: 7px;
  }
}

.card__conditions {
  display: flex;
  justify-content: space-between;
}

.card__conditions p {
  height: 20px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.2px;
  color: $decor-2;

  @media (max-width: $tablet-width) {
    height: 20px;
    padding-top: 5px;
    font-size: 12px;
  }

  @media (max-width: $mobile-width) {
    width: 80px;
    text-align: center;
    padding-right: 20px;
  }
}

.card__conditions p:not(:last-child) {
  padding-right: 15px;
  border-right: solid 1px $decor-4;

  @media (max-width: $tablet-width) {
    padding-right: 13px;
  }
}

.card__conditions p:last-child {
  @media (max-width: $mobile-width) {
    padding-left: 18px;
  }
}

.card__counter {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    position: absolute;
    bottom: 7px;
    left: calc(145px - 20px);
  }

}
