.pagination__list {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.pagination__item {
  color: $decor-2;
}

.pagination__link {
  color: inherit;
  display: block;
  width: 18px;
  height: 25px;
  text-align: center;
  margin: 2px;
}

.pagination__item--active {
  color: inherit;
}

.pagination__link--hide {
  display: none;
}
