// ------ for index & catalog-page ------
.pagination__list {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.pagination__item {
  color: $decor-2;
}

.pagination__link {
  color: inherit;
  display: block;
  width: 18px;
  height: 25px;
  text-align: center;
  margin: 2px;
}

.pagination__item--active {
  color: inherit;
}

.pagination__link--hide {
  display: none;
}

// ------ for catalog-page ------
.pagination--catalog {
  min-height: 132px;
  border-top: solid 1px $decor-4;
  padding-top: 35px;
}

.pagination__inner {
  @include page-wrap;
  padding-left: 330px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.pagination__list--catalog {
  margin-left: -35px;
}
