.stopper {
  width: inherit;
  height: calc(100vh - 177px - 357px);
  flex-grow: 2;
  padding-top: 100px;
  font-size: 30px;

  @media (max-width: $tablet-width) {
    height: calc(100vh - 130px - 457px);
  }

  @media (max-width: $mobile-width) {
    height: calc(100vh - 100px - 767px);
  }
}
