.user-nav {
  @include list-reset;
  display: flex;

  @media (max-width: $tablet-width) {
    position: absolute;
    left: 45px;
    bottom: 89px;
  }

  @media (max-width: $mobile-width) {
    left: 15px;
    bottom: 100px;
  }
}

.user-nav__item:not(:last-child) {
  margin-right: 35px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.user-nav__item {
  display: flex;
  align-items: center;
}

.user-nav__link {
  font-size: 14px;
  line-height: calc(21 / 14);
  margin-top: -10px;
  letter-spacing: 0.2px;

  @media (max-width: $tablet-width) {
    color: $white;
    font-size: 18px;
    line-height: calc(23 / 18);
  }
}

.user-nav__item--basket {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
