@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  margin: 0;
  font-family: "Cormorant Garamond", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: calc(44 / 34);
  letter-spacing: 0.5px;
  text-align: center;
}

@mixin title-extension {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $decor-1;
    left: 0;
    bottom: -6px;
  }
}

@mixin intro {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $decor-1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin intro-text {
  font-family: "Cormorant Garamond", "Tahoma", sans-serif;
  text-align: center;
  color: $white;
}

@mixin page-wrap {
  width: inherit;
  min-width: 1024px;
  max-width: 1230px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    min-width: 767px;
    max-width: 1023px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin button {
  display: block;
  text-align: center;
  font-family: "Poppins","Tahoma",sans-serif;
  letter-spacing: 1.3px;
  color: $white;
  display: block;
  width: 100%;
  height: 68px;
  border: none;
  background-color: $decor-1;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    background-color: rgba($decor-2, 0.7);
    border: none;
  }

  &:active {
    opacity: 0.6;
  }
}

@mixin button-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 10px;
    height: 22px;
    width: 3px;
    background: $black;
    transform: rotate(45deg);

    @media (max-width: $mobile-width) {
      top: -10px;
      right: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;
    height: 22px;
    width: 3px;
    background: $black;
    transform: rotate(-45deg);

    @media (max-width: $mobile-width) {
      top: -10px;
      right: 0;
    }
  }

  &:hover::after,
  &:focus::after,
  &:hover::before,
  &:focus::before {
    background: $decor-3;
    opacity: 0.5;
  }

  &:active::after,
  &:active::before {
    opacity: 0.5;
  }

  @media (max-width: $mobile-width) {
    &::before {
      top: -2px;
      right: 5px;
      height: 18px;
      width: 2px;
    }

    &::after {
      top: -2px;
      right: 5px;
      height: 18px;
      width: 2px;
    }
  }
}

@mixin in-flow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

@mixin modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  display: none;
}

@mixin show-modal {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}
