$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$text: #1d1613;
$white: #ffffff;
$black: #000000;
$decor-1: #a87b62;
$decor-2: #9b9997;
$decor-3: #f0eae4;
$error: #b63616;
